In [1]:
import pandas as pd

In [2]:
dataframe0 = pd.read_csv('../Data/CC Report.csv')
dataframe1 = pd.read_csv('../Data/February 2018 Giving.csv')

In [3]:
dataframe0.head()

,Constituent ID,Name,Soft Credit Recipient,Soft Credit Amount,Assigned Solicitor,Gift ID,Gift Date,Gift Amount,Pay Method,Gift Type,...,NetCommunity Gift,Fund Description,Package Description,Sponsorship/Leadership,Tribute Type,Tribute Name,Tribute Description,Tribute Type_1,Tribute Name_1,Tribute Description_1
0,307441,Simon Blank,NaN,NaN,NaN,87519,3/4/2018,500.00,Credit Card,Cash,...,True,AYN Unrestricted,NaN,NaN,in celebration of,"Vervais, Mindy",their wedding,in celebration of,"McGrath, Jeffrey",their wedding
1,108437,Carolyn C. Sewell,"Sewell, Joseph",100.00,NaN,87500,3/7/2018,100.00,Credit Card,Cash,...,False,AYN Unrestricted,NaN,NaN,for the birthday of,"Bass, Craig",Craig and Laura Bass,for the birthday of,"Bass, Laura",NaN
2,320852,Anita Moss,NaN,NaN,NaN,87513,3/10/2018,25.00,Credit Card,Cash,...,True,TR Crisis Center Restricted,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,124744,Louis A. Trosch,NaN,NaN,"Ellis, Erica",87468,3/5/2018,83.33,Credit Card,Pay-Cash,...,False,TR Unrestricted,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,319742,Mark I. Brown,NaN,NaN,NaN,87470,3/5/2018,100.00,Credit Card,Pay-Cash,...,False,TR Unrestricted,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
dataframe1.head()

,Constituent ID,First Name,Last Name,Organization Name,Soft Credit Constituent,Soft Credit Constituent_1,Soft Credit Constituent_2,Gift Date,Gift Amount,Gift Type,Fund,Campaign,Appeal,Gift Subtype,Pay Method,Reference,Package Description,Sponsorship/Leadership
0,320386,NaN,NaN,PPG Architectural Coatings,NaN,NaN,NaN,2/5/2018,0,Gift-in-Kind,TR Unrestricted,TR FY 2018 Annual,TR FY 2018 - General Solicitation,NaN,Other,3 gallons of paint,NaN,NaN
1,320184,Lynn,Shearon,NaN,NaN,NaN,NaN,2/5/2018,0,Gift-in-Kind,TR Unrestricted,TR FY 2018 Annual,TR FY 2018 - General Solicitation,NaN,Other,2 bags full of boys clothes,NaN,NaN
2,320538,Cory,Pethel,NaN,NaN,NaN,NaN,2/5/2018,0,Gift-in-Kind,TR Unrestricted,TR FY 2018 Annual,TR FY 2018 - General Solicitation,NaN,Other,clothes and hats,NaN,NaN
3,311356,Paul,Johansen,NaN,NaN,NaN,NaN,2/5/2018,0,Gift-in-Kind,TR Unrestricted,TR FY 2018 Annual,TR FY 2018 - General Solicitation,NaN,Other,6 boxes of food,NaN,NaN
4,320536,Shaumanick,McDuffie,NaN,NaN,NaN,NaN,2/3/2018,0,Gift-in-Kind,TR Unrestricted,TR FY 2018 Annual,TR FY 2018 - General Solicitation,NaN,Other,"11 boxes of food, cleaning supplies, and hygie...",NaN,NaN